<table>
<tbody><tr><th colspan="2" align="left">Preface</th><th align="right">ix
</th></tr><tr><th colspan="2" align="left"> <a href="part-I.html">Part I: Procedural
Abstraction</a></th><th align="right">1
</th></tr><tr><th align="left">1</th><th align="left"><a href="part-I.html#chapter-1">Computer Science and
Programming</a></th><th align="right">3
</th></tr><tr><td>1.1</td><td>What's It All About?</td><td align="right">3
</td></tr><tr><td>1.2</td><td>Programming in Scheme</td><td align="right">5
</td></tr><tr><td></td><td>Sidebar: Responsible Computer Use</td><td align="right">5
</td></tr><tr><td>1.3</td><td>An Application: Quilting</td><td align="right">15
</td></tr><tr><th align="left">2</th><th align="left"><a href="part-I.html#chapter-2">Recursion and Induction</a></th><th align="right">22
</th></tr><tr><td>2.1</td><td>Recursion</td><td align="right">22
</td></tr><tr><td></td><td>Sidebar: Exponents</td><td align="right">28
</td></tr><tr><td>2.2</td><td>Induction</td><td align="right">28
</td></tr><tr><td>2.3</td><td>Further Examples</td><td align="right">34
</td></tr><tr><td>2.4</td><td>An Application: Custom-Sized Quilts</td><td align="right">40
</td></tr><tr><th align="left">3</th><th align="left"><a href="part-I.html#chapter-3">Iteration and invariants</a></th><th align="right">48
</th></tr><tr><td>3.1</td><td>Iteration</td><td align="right">48
</td></tr><tr><td>3.2</td><td>Using Invariants</td><td align="right">54
</td></tr><tr><td>3.3</td><td>Perfect Numbers, Internal Definitions, and Let</td><td align="right">58
</td></tr><tr><td>3.4</td><td>Iterative Improvement: Approximating the Golden
Ratio</td><td align="right">61
</td></tr><tr><td>3.5</td><td>An Application: The Josephus Problem</td><td align="right">65
</td></tr><tr><th align="left">4</th><th align="left"><a href="part-I.html#chapter-4">Orders of Growth and Tree
Recursion</a></th><th align="right">75
</th></tr><tr><td>4.1</td><td>Orders of Growth</td><td align="right">75
</td></tr><tr><td></td><td>Sidebar: Logarithms</td><td align="right">82
</td></tr><tr><td>4.2</td><td>Tree Recursion and Digital Signatures</td><td align="right">83
</td></tr><tr><td></td><td>Sidebar: Modular Arithmetic</td><td align="right">87
</td></tr><tr><td>4.3</td><td>An Application: Fractal Curves</td><td align="right">95
</td></tr><tr><th align="left">5</th><th align="left"><a href="part-I.html#chapter-5">Higher-Order Procedures</a></th><th align="right">109
</th></tr><tr><td>5.1</td><td>Procedural Parameters</td><td align="right">109
</td></tr><tr><td>5.2</td><td>Uncomputability</td><td align="right">113
</td></tr><tr><td></td><td>Sidebar: Alan Turing</td><td align="right">116
</td></tr><tr><td>5.3</td><td>Procedures That Make Procedures</td><td align="right">118
</td></tr><tr><td>5.4</td><td>An Application: Verifying ID Numbers</td><td align="right">120
</td></tr><tr><th colspan="2" align="left"> <a href="part-II.html">Part II: Data Abstraction</a></th><th align="right">131
</th></tr><tr><th align="left">6</th><th align="left"><a href="part-II.html#chapter-6">Compound Data and Data
Abstraction</a></th><th align="right">133
</th></tr><tr><td>6.1</td><td>Introduction</td><td align="right">133
</td></tr><tr><td>6.2</td><td>Nim</td><td align="right">135
</td></tr><tr><td>6.3</td><td>Representations and Implementations</td><td align="right">143
</td></tr><tr><td>6.4</td><td>Three-Pile Nim</td><td align="right">153
</td></tr><tr><td>6.5</td><td>An Application: Adding Strategies to Nim</td><td align="right">156
</td></tr><tr><td></td><td>Sidebar: Type Checking</td><td align="right">157
</td></tr><tr><th align="left">7</th><th align="left"><a href="part-II.html#chapter-7">Lists</a></th><th align="right">167
</th></tr><tr><td>7.1</td><td>The Definition of a List</td><td align="right">167
</td></tr><tr><td>7.2</td><td>Constructing Lists</td><td align="right">169
</td></tr><tr><td>7.3</td><td>Basic List Processing Techniques</td><td align="right">172
</td></tr><tr><td>7.4</td><td>List Processing and Iteration</td><td align="right">179
</td></tr><tr><td>7.5</td><td>Tree Recursion and Lists</td><td align="right">182
</td></tr><tr><td>7.6</td><td>An Application: A Movie Query System</td><td align="right">187
</td></tr><tr><td></td><td>Sidebar: Is There More to Intelligence Than the Appearance
of Intelligence?</td><td align="right">202
</td></tr><tr><th align="left">8</th><th align="left"><a href="part-II.html#chapter-8">Trees</a></th><th align="right">212
</th></tr><tr><td>8.1</td><td>Binary Search Trees</td><td align="right">212
</td></tr><tr><td>8.2</td><td>Efficiency Issues with Binary Search Trees</td><td align="right">220
</td></tr><tr><td></td><td>Sidebar: Privacy Issues</td><td align="right">225
</td></tr><tr><td>8.3</td><td>Expression Trees</td><td align="right">226
</td></tr><tr><td>8.4</td><td>An Application: Automated Phone Books</td><td align="right">229
</td></tr><tr><th align="left">9</th><th align="left"><a href="part-II.html#chapter-9">Generic Operations</a></th><th align="right">243
</th></tr><tr><td>9.1</td><td>Introduction</td><td align="right">243
</td></tr><tr><td>9.2</td><td>Multiple Representations</td><td align="right">244
</td></tr><tr><td>9.3</td><td>Exploiting Commonality</td><td align="right">253
</td></tr><tr><td>9.4</td><td>An Application: Computer Graphics</td><td align="right">262
</td></tr><tr><th align="left">10</th><th align="left"><a href="part-II.html#chapter-10">Implementing Programming
Languages</a></th><th align="right">278
</th></tr><tr><td>10.1</td><td>Introduction</td><td align="right">278
</td></tr><tr><td>10.2</td><td>Syntax</td><td align="right">279
</td></tr><tr><td></td><td>Sidebar: The Expressiveness of EBNF</td><td align="right">285
</td></tr><tr><td>10.3</td><td>Micro-Scheme</td><td align="right">289
</td></tr><tr><td>10.4</td><td>Global Definitions: Mini-Scheme</td><td align="right">303
</td></tr><tr><td>10.5</td><td>An Application: Adding Explanatory Output</td><td align="right">311
</td></tr><tr><th colspan="2" align="left"> <a href="part-III.html">Part III: Abstractions of
State</a></th><th align="right">331
</th></tr><tr><th align="left">11</th><th align="left"><a href="part-III.html#chapter-11">Computers with Memory</a></th><th align="right">333
</th></tr><tr><td>11.1</td><td>Introduction</td><td align="right">333
</td></tr><tr><td>11.2</td><td>An Example Computer Architecture</td><td align="right">333
</td></tr><tr><td>11.3</td><td>Programming the SLIM</td><td align="right">340
</td></tr><tr><td></td><td>Sidebar: What Can Be Stored in a Location?</td><td align="right">342
</td></tr><tr><td>11.4</td><td>Iteration in Assembly Language</td><td align="right">349
</td></tr><tr><td>11.5</td><td>Recursion in Assembly Language</td><td align="right">357
</td></tr><tr><td>11.6</td><td>Memory in Scheme: Vectors</td><td align="right">361
</td></tr><tr><td>11.7</td><td>An Application: A Simulator for SLIM</td><td align="right">367
</td></tr><tr><th align="left">12</th><th align="left"><a href="part-III.html#chapter-12">Dynamic Programming</a></th><th align="right">379
</th></tr><tr><td>12.1</td><td>Introduction</td><td align="right">379
</td></tr><tr><td>12.2</td><td>Revisiting Tree Recursion</td><td align="right">380
</td></tr><tr><td>12.3</td><td>Memoization</td><td align="right">388
</td></tr><tr><td>12.4</td><td>Dynamic Programming</td><td align="right">398
</td></tr><tr><td>12.5</td><td>Comparing Memoization and Dynamic Programming</td><td align="right">406
</td></tr><tr><td>12.6</td><td>An Application: Formatting Paragraphs</td><td align="right">406
</td></tr><tr><th align="left">13</th><th align="left"><a href="part-III.html#chapter-13">Object-Based
Abstractions</a></th><th align="right">420
</th></tr><tr><td>13.1</td><td>Introduction</td><td align="right">420
</td></tr><tr><td>13.2</td><td>Arithmetic Expressions Revisited</td><td align="right">421
</td></tr><tr><td>13.3</td><td>RA-Stack Implementations and Representation
Invariants</td><td align="right">432
</td></tr><tr><td></td><td>Sidebar: Strings and Characters</td><td align="right">433
</td></tr><tr><td>13.4</td><td>Queues</td><td align="right">446
</td></tr><tr><td>13.5</td><td>Binary Search Trees Revisited</td><td align="right">453
</td></tr><tr><td>13.6</td><td>An Application: Dictionaries</td><td align="right">472
</td></tr><tr><th align="left">14</th><th align="left"><a href="part-III.html#chapter-14">Object-Oriented
Programming</a></th><th align="right">486
</th></tr><tr><td>14.1</td><td>Introduction</td><td align="right">486
</td></tr><tr><td>14.2</td><td>An Object-Oriented Program</td><td align="right">487
</td></tr><tr><td>14.3</td><td>Extensions and Variations</td><td align="right">511
</td></tr><tr><td>14.4</td><td>Implementing an Object-Oriented Programming System</td><td align="right">517
</td></tr><tr><td>14.5</td><td>An Application: Adventures in the Land of Gack</td><td align="right">543
</td></tr><tr><th align="left">15</th><th align="left"><a href="part-III.html#chapter-15">Java, Applets, and
Concurrency</a></th><th align="right">577
</th></tr><tr><td>15.1</td><td>Introduction</td><td align="right">577
</td></tr><tr><td>15.2</td><td>Java</td><td align="right">578
</td></tr><tr><td>15.3</td><td>Event-Driven Graphical User Interfaces in Applets</td><td align="right">599
</td></tr><tr><td>15.4</td><td>Concurrency</td><td align="right">616
</td></tr><tr><td></td><td>Sidebar: Nested Calls to Synchronized Methods and
Deadlock</td><td align="right">625
</td></tr><tr><td>15.5</td><td>An Application: Simulating Compound Interest</td><td align="right">632
</td></tr><tr><th colspan="2" align="left"><a href="appendix-A.html">Appendix: Nonstandard Extensions to
Scheme</a></th><th align="right">645
</th></tr><tr><th colspan="2" align="left">Bibliography</th><th align="right">649
</th></tr><tr><th colspan="2" align="left">Index</th><th align="right">653
</th></tr></tbody>
</table>
